USE [master]
GO
/****** Object:  Database [SNEAKERS]    Script Date: 26/10/2022 09:07:01 ******/
CREATE DATABASE [SNEAKERS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SNEAKERS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SNEAKERS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SNEAKERS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SNEAKERS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SNEAKERS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SNEAKERS]
GO
/****** Object:  User [alumno]    Script Date: 26/10/2022 09:07:01 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 26/10/2022 09:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[ID_CARRITO] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
 CONSTRAINT [PK_Carrito] PRIMARY KEY CLUSTERED 
(
	[ID_CARRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritoxProducto]    Script Date: 26/10/2022 09:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritoxProducto](
	[ID_CARRITO] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
 CONSTRAINT [PK_CarritoxProducto] PRIMARY KEY CLUSTERED 
(
	[ID_CARRITO] ASC,
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 26/10/2022 09:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[ID_MARCA] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](200) NOT NULL,
	[Fundadores] [varchar](50) NOT NULL,
	[FechaFundacion] [date] NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 26/10/2022 09:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](200) NOT NULL,
	[FK_marca] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/10/2022 09:07:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([ID_MARCA], [Nombre], [Foto], [Fundadores], [FechaFundacion]) VALUES (2, N'ADIDAS', N'https://image.similarpng.com/very-thumbnail/2020/09/Adidas-logo-Premium-vector-PNG.png', N'Adolf Dassler', CAST(N'1949-08-18' AS Date))
INSERT [dbo].[Marca] ([ID_MARCA], [Nombre], [Foto], [Fundadores], [FechaFundacion]) VALUES (3, N'NIKE', N'https://s3-symbol-logo.tradingview.com/nike--600.png', N' Phil Knight', CAST(N'1964-01-25' AS Date))
INSERT [dbo].[Marca] ([ID_MARCA], [Nombre], [Foto], [Fundadores], [FechaFundacion]) VALUES (6, N'New balance', N'https://encrypted-https://i.pinimg.com/originals/38/13/bd/3813bd36f4fbc1a16323e75b35473893.jpg', N'William J. Riley', CAST(N'1906-04-27' AS Date))
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ID_Producto], [Nombre], [Foto], [FK_marca]) VALUES (5, N'AIR JORDAN 1 HIGH OG', N'https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_600,c_limit/e5cf4ceb-b5f1-44cc-a250-357b153175d4/air-jordan-1-high-og.png', 2)
INSERT [dbo].[Productos] ([ID_Producto], [Nombre], [Foto], [FK_marca]) VALUES (6, N'Adidas Forum', N'no', 3)
INSERT [dbo].[Productos] ([ID_Producto], [Nombre], [Foto], [FK_marca]) VALUES (7, N'ji', N'ji', 2)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([ID_USUARIO], [Nombre]) VALUES (1, N'BINKER')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [FK_Carrito_Usuario] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[Usuario] ([ID_USUARIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [FK_Carrito_Usuario]
GO
ALTER TABLE [dbo].[CarritoxProducto]  WITH CHECK ADD  CONSTRAINT [FK_CarritoxProducto_Carrito] FOREIGN KEY([ID_CARRITO])
REFERENCES [dbo].[Carrito] ([ID_CARRITO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarritoxProducto] CHECK CONSTRAINT [FK_CarritoxProducto_Carrito]
GO
ALTER TABLE [dbo].[CarritoxProducto]  WITH CHECK ADD  CONSTRAINT [FK_CarritoxProducto_Productos] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Productos] ([ID_Producto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarritoxProducto] CHECK CONSTRAINT [FK_CarritoxProducto_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH NOCHECK ADD  CONSTRAINT [FK_Productos_Marca] FOREIGN KEY([FK_marca])
REFERENCES [dbo].[Marca] ([ID_MARCA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] NOCHECK CONSTRAINT [FK_Productos_Marca]
GO
USE [master]
GO
